@page "/fotos"

<h2 class="frase">Nossos melhores momentos...</h2>
<br />
<br />
<h2 class="frase" style="text-align:center">
    "Só se vê bem com o coração, o essencial é invisível aos olhos..."
</h2>
<div class="container">
    <div class="fotos">
        <img src="css/Fotos/1.jpeg" />
        <img src="css/Fotos/2.jpeg" />
        <img src="css/Fotos/3.jpeg" />
        <img src="css/Fotos/4.jpeg" />
        <img src="css/Fotos/5.jpeg" />
        <img src="css/Fotos/6.jpeg" />
        <img src="css/Fotos/7.jpeg" />
        <img src="css/Fotos/8.jpeg" />
        <img src="css/Fotos/9.jpeg" />
        <img src="css/Fotos/10.jpeg" />
        <img src="css/Fotos/11.jpeg" />
        <img src="css/Fotos/12.jpeg" />
    </div>
</div>


@code {

}
