@page "/"
@inject NavigationManager nav

<div style="text-align:center">
    <h1>Sejam bem vindos!</h1><br /><br />
    <h2 class="frase">"Demorou, mas chegou o grande dia. Se você ainda não acredita está convidado a conferir"</h2><br /><br />
    <h3>Deixamos aqui todas as informações importantes para que esse dia seja especial para você como será para nós. Esperamos você lá. Enquanto isso, veja as fotos de nossa história.</h3>
</div>

@code{ 

}