@page "/listapresente"

<h2 style="font-family:'Segoe Print', Tahoma, Geneva, Verdana, sans-serif;font-weight:bolder;">Nosso presente é você!</h2>

<br />
<div class="frase" style="text-align:center">
    <h3> Queríamos ter tudo, mas tudo não podemos ter. Só conseguiremos comprar se você escolher.</h3>
    <h3> Escolha com carinho e nos dê este mérito. Não vai valer economizar no cartão de crédito.</h3>
</div>